* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navbar {
  color: red;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 2rem;
  letter-spacing: 0.4px;
  box-shadow: rgb(0 0 0 / 2%) 1px 1px 100px;
}

.cardBanner {
  min-height: 100%;
  color: black;
  font-weight: 900;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: 0.4px;
  box-shadow: rgb(0 0 0 / 30%) 2px 2px 2px;
}

.cardHighlight {
  min-height: 100%;
  color: darkred;
  font-weight: 1000;
  font-size: 3rem;
  line-height: 2rem;
  letter-spacing: 0.4px;
  box-shadow: rgb(0 0 0 / 30%) 1px 1px 10px;
}


.card1 {
  min-height: 100%;
}

.carousel{

  box-shadow: rgb(0 0 0 / 30%) 1px 1px 10px;
}


body, p {
  color: #5e6576;
  font: 400 1.120rem/1.725rem "Open Sans", sans-serif;
  margin-left: 2%;
  margin-right: 2%;
}


body, html {
  width: 100%;
  height: 100%;
}











